
framework/.idea/workspace.xml

framework/.idea/vcs.xml

framework/.idea/modules.xml

framework/.idea/framework.iml

framework/.idea/$PRODUCT_WORKSPACE_FILE$

framework/ndfs/build/

framework/ndfs/javadoc/

framework/ndfs/.classpath

framework/ndfs/.project
